@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100%;
    position: relative;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background: #171717c5;
}